<div class="w-full relative animate-blurred-fade-in ">
    <img class="w-full h-screen"
    src="/picture.jpg" 
    alt="bento"
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 75% 100%, 25% 100%, 0 85%);"
    >
    <div class="overlay"></div>
    <div class="text">
        <p>MIPS Translator</p>
    </div>
</div>

<style>
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%;
        height: 45%;
        background-color: rgba(0, 0, 0, 0.8); /* Ajusta la opacidad aquí */
    }
    
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-size: 40px; 
        font-family: Arial, sans-serif;
        font-weight: 800;
    }
</style>
