---
import InputTextBox from "./InputTextBox.astro";
import TextBox from "./TextBox.astro";
import DegratedButton from "./DegratedButton.astro";
---

<section class="w-ful">
  <div class="flex w-full justify-evenly">
    <InputTextBox />
    <TextBox />
  </div>
  
</section>

