---
import InputTextBox from "./InputTextBox.astro";
import TextBox from "./TextBox.astro";
---

<section class=" flex w-full justify-evenly">
    <InputTextBox/>
    <TextBox/>
    
    
</section>     