---
import InputTextBox from "./InputTextBox.astro";
import TextBox from "./TextBox.astro";
---

<section class="w-ful">
  <div class="flex w-full justify-evenly">
    <InputTextBox id="mips-input"/>
    <TextBox id="hex-input" />
  </div>
  
</section>

