---
import ButtonStar from "./ButtonStar.astro";
import InputTypeFile from "./InputTypeFile.astro"
---

<section class="py-8 px-4 mx-auto max-w-xl flex justify-center flex-col">
    <div
        class=" justify-center flex w-full text-center flex-col"
    >
        <ButtonStar class="text-white w-full justify-center" href="/"></ButtonStar>
        <InputTypeFile/>
    </div>
    
</section>
