---
import ButtonStar from "./ButtonStar.astro";
import InputTypeFile from "./InputTypeFile.astro";
import DegratedButton from "./DegratedButton.astro";
import BugButton from "./BugButton.astro";
import Tabla from "./Tabla.astro";
import RegisterTable from "./RegisterTable.astro";
import InstructionTexbox from "./InstructionTexbox.astro";
import InstructionButton from "./InstructionButton.astro";
---

<section class="py-8 px-4 mx-auto max-w-xl flex justify-center flex-col">
  <div class="flex justify-around flex-row w-full text-center">
    <ButtonStar texto="MIPS to HEX" />
    <ButtonStar texto="HEX to MIPS" />
  </div>
  <div class="flex justify-around flex-row w-full items-center gap-8 text-center">
    <InstructionTexbox />
    <InstructionButton texto="Execute" />
  </div>
  <div class="py-8 px-4 flex justify-around flex-row w-full text-center">
    <BugButton texto="Bug"/>
  </div>
  <div class="flex w-full justify-around mt-15">
    <DegratedButton texto="Save to RAM">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon mr-2"
        width="24"
        height="24"
        viewBox="0 0 512 512"
        ><path
          d="M380.93 57.37A32 32 0 00358.3 48H94.22A46.21 46.21 0 0048 94.22v323.56A46.21 46.21 0 0094.22 464h323.56A46.36 46.36 0 00464 417.78V153.7a32 32 0 00-9.37-22.63zM256 416a64 64 0 1164-64 63.92 63.92 0 01-64 64zm48-224H112a16 16 0 01-16-16v-64a16 16 0 0116-16h192a16 16 0 0116 16v64a16 16 0 01-16 16z"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"></path></svg
      >
    </DegratedButton>
    <DegratedButton texto="Simulate">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon mr-2"
        viewBox="0 0 512 512"
        width="24"
        height="24"
        ><rect
          x="80"
          y="80"
          width="352"
          height="352"
          rx="48"
          ry="48"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"></rect><rect
          x="144"
          y="144"
          width="224"
          height="224"
          rx="16"
          ry="16"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"></rect><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M256 80V48M336 80V48M176 80V48M256 464v-32M336 464v-32M176 464v-32M432 256h32M432 336h32M432 176h32M48 256h32M48 336h32M48 176h32"
        ></path></svg>
    </DegratedButton>
  </div >
  <InputTypeFile />
  <div class=" py-8 px-4 flex justify-around flex-row w-full " >
    <Tabla />
    <RegisterTable />
  </div>
</section>
