---
interface Props {
	texto: string;
  id: string;
}
const { texto, id } = Astro.props;
---
<button id={id}>
    Execute Instruction
</button>
<style>
    button {
  width: fit-content;
  min-width: 160px;
  height: 63px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #2ba0b7;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #2cd0df8c;
  box-shadow: 0px 0px 20px -18px;
}

button:active {
  transform: scale(0.95);
}
</style>