<!DOCTYPE html>
<html>
<head>
<style>

#data td, #data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data tr:nth-child(even){background-color: #95fef78c;}

#data tr:hover {background-color: #8f2ae7;}

#data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2ba0b7;
  color: white;
}

</style>
</head>
<body>

<h1>Registers</h1>

<table id="data">
  <tr>
    <th>Register</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Zero</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>at</td>
    <td>0x00</td>

  </tr>
  <tr>
    <td>v0</td>
    <td>0x00</td>

  </tr>
  <tr>
    <td>v1</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>a0</td>
    <td>0x00</td>

  </tr>
  <tr>
    <td>a1</td>
    <td>0x00</td>

  </tr>
  <tr>
    <td>a2</td>
    <td>0x00</td>
    
  </tr>
  <tr>
    <td>a3</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>t0</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>t1</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>t2</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>t3</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>t4</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>t5</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>t6</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>t7</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>s0</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>s1</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>s2</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>s3</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>s4</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>s5</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>s6</td>
    <td>0x00</td>
  </tr>
  <tr>
    <td>s7</td>
    <td>0x00</td>
  </tr>
</table>

</body>
</html>