---
import Layout from '../layouts/Layout.astro';
import InputStruct from "../components/InputStruct.astro";
import Bento from "../components/Hero.astro";
import Inputs from "../components/Inputs.astro"

---

<Layout title="MIPS Translator">
	<main>
		<Bento />	
		<Inputs/>
		<InputStruct />
	</main>
</Layout>


